PORT=5000
JWT_SECRET=vibora_bangladesh_local_secret_key_12345
# Optional: Provide Mongo URI to switch from local JSON file to MongoDB Atlas database
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/vibora?retryWrites=true&w=majority
